@if(_modalService.modalOpened === true){
<main (click)="_modalService.modalOpened = false">
    <div class="modal" (click)="$event.stopPropagation()">
        @if(_modalService.modalPage === 'about-me'){
        <app-about-me />
        } @else if(_modalService.modalPage === 'works'){
        <app-works />
        } @else if (_modalService.modalPage === 'side-projects') {
        <app-side-projects />
        } @else if (_modalService.modalPage === 'guest-book') {
        <app-guest-book />
        } @else if (_modalService.modalPage === 'daily-slab') {
        <app-daily-slab />
        }
    </div>
</main>
}