@use "../../../styles.scss" as *;

main {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.06);

    .modal {
        width: 70%;
        height: 85%;

        background-color: #fff;
    }
}