@use "../../../styles.scss" as *;

// main {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;

//     .hero {
//         display: flex;
//         justify-content: center;
//         position: relative;
//         height: 190px;
//         width: 100%;

//         .hero-img {
//             position: absolute;
//             z-index: 1;
//             // width: 320px;
//             height: 100%;

//             img {
//                 // width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//             }
//         }

//         // .hero-txt {}
//     }

//     .tabs {
//         display: flex;
//         justify-content: center;
//         gap: $space-sm;
//         margin-block: $space-sm;

//         .tab {
//             height: 50px;

//             img {
//                 height: 100%;
//                 object-fit: cover;
//                 background-color: transparent;
//                 cursor: pointer;

//                 &:hover {
//                     animation: shake 0.4s ease-in-out;
//                 }
//             }
//         }
//     }

//     .content {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-wrap: wrap;
//         gap: $space-lg + $space-sm;
//         margin-top: $space-sm;

//         .brief {
//             position: relative;
//             width: 320px;
//             // overflow: clip;

//             .bg-img {
//                 position: absolute;
//                 z-index: 1;
//                 width: 100%;
//                 // height: 100%;
//                 object-fit: cover;

//                 img {
//                     width: 100%;
//                     height: 100%;
//                     object-fit: cover;
//                 }
//             }

//             .brief-txt {
//                 position: absolute;
//                 z-index: 2;
//                 padding: $space-md;
//                 padding-bottom: $space-lg;
//                 // overflow: hidden;
//                 text-overflow: ellipsis;

//                 p {
//                     text-overflow: ellipsis;
//                     line-height: 22px;
//                     word-spacing: 4px;
//                     font-size: 1.04rem;
//                     color: $text-color;
//                 }
//             }

//             .experience {
//                 h3 {
//                     font-size: 20px;
//                     color: $text-color;
//                     margin-bottom: $space-xxs;
//                 }

//                 .light-txt {
//                     font-size: 1.04rem;
//                 }
//             }
//         }

//         .side {
//             width: 120px;

//             .contact {
//                 height: 110px;
//             }
//         }
//     }
// }

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 190px;
        margin-block: $space-sm;

        .hero-content {
            position: relative;
            width: 400px;
            height: 100%;
            display: flex;
            justify-content: center;

            .hero-img {
                position: absolute;
                z-index: 1;
                // width: 100%;
                height: 100%;

                img {
                    // width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .hero-txt {
                position: absolute;
                z-index: 2;
                // top: $space-sm;
                // text-align: center;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .bones {
                    width: 120px;
                    height: 120px;
                    margin-bottom: -$space-md - $space-sm;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h1 {
                    font-size: 2.8rem;
                    color: $text-color;
                    text-shadow: text-shadow();
                    ;
                }

                p {
                    line-height: 22px;
                    word-spacing: 4px;
                    font-size: 1.4rem;
                    color: $text-color;
                }
            }
        }
    }

    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $space-sm;

        .tab {
            height: 50px;

            img {
                height: 100%;
                object-fit: cover;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    animation: shake 0.4s ease-in-out;
                }
            }
        }
    }

    .content {
        width: 100%;
        // height: 400px;
        flex: 1;
        display: flex;
        justify-content: center;
        gap: $space-md;
        margin-top: $space-sm;
        overflow: hidden;

        .side {
            width: 100px;
            // height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .socials {
                display: none;
            }

            .social-tv {
                width: 170px;
                position: absolute;
                left: 50px;

                img {
                    // position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;

                    &:hover {
                        animation: shake 0.4s ease-in-out;
                    }
                }

                .social-tv-txt {
                    position: absolute;
                    z-index: 2;
                    top: 10%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 1.6rem;
                        color: $text-color;
                        text-shadow: text-shadow();
                        ;
                    }
                }

                &:hover {
                    animation: shake 0.4s ease-in-out;
                }
            }

            .contact {
                height: 130px;
                align-self: baseline;
                margin-left: $space-md + $space-sm;

                img {
                    // width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;

                    &:hover {
                        animation: shake 0.4s ease-in-out;
                    }
                }
            }
        }

        .brief {
            position: relative;
            width: 320px;
            // overflow: clip;

            .bg-img {
                position: absolute;
                z-index: 1;
                width: 100%;
                // height: 100%;
                object-fit: cover;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .brief-txt {
                position: absolute;
                z-index: 2;
                padding: $space-md;
                padding-bottom: $space-lg;
                // overflow: hidden;
                text-overflow: ellipsis;

                p {
                    text-overflow: ellipsis;
                    line-height: 22px;
                    word-spacing: 4px;
                    font-size: 1.04rem;
                    color: $text-color;
                }
            }

            .experience {
                h3 {
                    font-size: 20px;
                    color: $text-color;
                    margin-bottom: $space-xxs;
                }

                .light-txt {
                    font-size: 1.04rem;
                }
            }

            &:hover {
                // animation: raise-up 0.2s ease-in;
                transform: translateY(-2px);
            }
        }
    }
}